#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout0 {
        compatible = "zmk,physical-layout";
        display-name = "Split Layout";

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0       0     0     0>
            , <&key_physical_attrs 100 100  120    0       0     0     0>
            , <&key_physical_attrs 100 100  240    0       0     0     0>
            , <&key_physical_attrs 100 100  360    0       0     0     0>
            , <&key_physical_attrs 100 100  480    0       0     0     0>
            , <&key_physical_attrs 100 100  600    0       0     0     0>
            , <&key_physical_attrs 100 100  720    0       0     0     0>
            , <&key_physical_attrs 100 100  840    0       0     0     0>

            , <&key_physical_attrs 100 100 1000    0       0     0     0>
            , <&key_physical_attrs 100 100 1120    0       0     0     0>
            , <&key_physical_attrs 100 100 1240    0       0     0     0>
            , <&key_physical_attrs 100 100 1360    0       0     0     0>
            , <&key_physical_attrs 100 100 1480    0       0     0     0>
            , <&key_physical_attrs 100 100 1600    0       0     0     0>
            , <&key_physical_attrs 100 100 1720    0       0     0     0>
            , <&key_physical_attrs 100 100 1840    0       0     0     0>


            , <&key_physical_attrs 100 100    0  120       0     0     0>
            , <&key_physical_attrs 100 100  120  120       0     0     0>
            , <&key_physical_attrs 100 100  240  120       0     0     0>
            , <&key_physical_attrs 100 100  360  120       0     0     0>
            , <&key_physical_attrs 100 100  480  120       0     0     0>
            , <&key_physical_attrs 100 100  600  120       0     0     0>
            , <&key_physical_attrs 100 100  720  120       0     0     0>
            , <&key_physical_attrs 100 100  840  120       0     0     0>

            , <&key_physical_attrs 100 100 1000  120       0     0     0>
            , <&key_physical_attrs 100 100 1120  120       0     0     0>
            , <&key_physical_attrs 100 100 1240  120       0     0     0>
            , <&key_physical_attrs 100 100 1360  120       0     0     0>
            , <&key_physical_attrs 100 100 1480  120       0     0     0>
            , <&key_physical_attrs 100 100 1600  120       0     0     0>
            , <&key_physical_attrs 100 100 1720  120       0     0     0>
            , <&key_physical_attrs 100 100 1840  120       0     0     0>


            , <&key_physical_attrs 100 100  452  240       0     0     0>
            , <&key_physical_attrs 100 100  549  240       0     0     0>
            , <&key_physical_attrs 100 100  645  240       0     0     0>
            , <&key_physical_attrs 100 100 1149  240       0     0     0>
            , <&key_physical_attrs 100 100 1245  240       0     0     0>
            , <&key_physical_attrs 100 100 1342  240       0     0     0>
            , <&key_physical_attrs 100 100 1457  240       0     0     0>
            , <&key_physical_attrs 100 100 1582  240       0     0     0>

            , <&key_physical_attrs 100 100 1695  240       0     0     0>
            , <&key_physical_attrs 100 100 1795  240       0     0     0>
            , <&key_physical_attrs 100 100    0  240       0     0     0>
            , <&key_physical_attrs 100 100  100  240       0     0     0>
            , <&key_physical_attrs 100 100  205  240       0     0     0>
            , <&key_physical_attrs 100 100  323  240       0     0     0>
            , <&key_physical_attrs 100 100  431  240       0     0     0>
            , <&key_physical_attrs 100 100  528  240       0     0     0>


            , <&key_physical_attrs 100 100  624  360       0     0     0>
            , <&key_physical_attrs 100 100 1170  360       0     0     0>
            , <&key_physical_attrs 100 100    0  360       0     0     0>
            , <&key_physical_attrs 100 100  100  360       0     0     0>
            , <&key_physical_attrs 100 100  226  360       0     0     0>
            , <&key_physical_attrs 100 100  365  360       0     0     0>
            , <&key_physical_attrs 100 100  494  360       0     0     0>

            , <&key_physical_attrs 100 100  591  360       0     0     0>
            , <&key_physical_attrs 100 100  687  360       0     0     0>
            , <&key_physical_attrs 100 100 1108  360       0     0     0>
            , <&key_physical_attrs 100 100 1204  360       0     0     0>
            , <&key_physical_attrs 100 100 1301  360       0     0     0>
            , <&key_physical_attrs 100 100 1429  360       0     0     0>
            , <&key_physical_attrs 100 100 1568  360       0     0     0>


            , <&key_physical_attrs 100 100 1695  480       0     0     0>
            , <&key_physical_attrs 100 100 1795  480       0     0     0>
            , <&key_physical_attrs 100 100    0  480       0     0     0>
            , <&key_physical_attrs 100 100  100  480       0     0     0>
            , <&key_physical_attrs 100 100  219  480       0     0     0>
            , <&key_physical_attrs 100 100  351  480       0     0     0>
            , <&key_physical_attrs 100 100  473  480       0     0     0>

            , <&key_physical_attrs 100 100  570  480       0     0     0>
            , <&key_physical_attrs 100 100  666  480       0     0     0>
            , <&key_physical_attrs 100 100 1129  480       0     0     0>
            , <&key_physical_attrs 100 100 1224  480       0     0     0>
            , <&key_physical_attrs 100 100 1321  480       0     0     0>
            , <&key_physical_attrs 100 100 1443  480       0     0     0>
            , <&key_physical_attrs 100 100 1575  480       0     0     0>


            , <&key_physical_attrs 100 100 1695  600       0     0     0>
            , <&key_physical_attrs 100 100 1795  600       0     0     0>
            , <&key_physical_attrs 100 100    0  600       0     0     0>
            , <&key_physical_attrs 100 100  100  600       0     0     0>

            , <&key_physical_attrs 100 100  212  600       0     0     0>
            , <&key_physical_attrs 100 100  337  600       0     0     0>
            , <&key_physical_attrs 100 100  452  600       0     0     0>
            , <&key_physical_attrs 100 100  549  600       0     0     0>
            ;
    };
};
