#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout0 {
        compatible = "zmk,physical-layout";
        display-name = "Split Layout";

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0       0     0     0>
            , <&key_physical_attrs 100 100  120    0       0     0     0>
            , <&key_physical_attrs 100 100  240    0       0     0     0>
            , <&key_physical_attrs 100 100  360    0       0     0     0>
            , <&key_physical_attrs 100 100  480    0       0     0     0>
            , <&key_physical_attrs 100 100  600    0       0     0     0>
            , <&key_physical_attrs 100 100  720    0       0     0     0>
            , <&key_physical_attrs 100 100  840    0       0     0     0>

            , <&key_physical_attrs 100 100 1100    0       0     0     0>
            , <&key_physical_attrs 100 100 1220    0       0     0     0>
            , <&key_physical_attrs 100 100 1340    0       0     0     0>
            , <&key_physical_attrs 100 100 1460    0       0     0     0>
            , <&key_physical_attrs 100 100 1580    0       0     0     0>
            , <&key_physical_attrs 100 100 1700    0       0     0     0>
            , <&key_physical_attrs 100 100 1820    0       0     0     0>
            , <&key_physical_attrs 100 100 1940    0       0     0     0>


            , <&key_physical_attrs 100 100    0  120       0     0     0>
            , <&key_physical_attrs 100 100  120  120       0     0     0>
            , <&key_physical_attrs 100 100  240  120       0     0     0>
            , <&key_physical_attrs 100 100  360  120       0     0     0>
            , <&key_physical_attrs 100 100  480  120       0     0     0>
            , <&key_physical_attrs 100 100  600  120       0     0     0>
            , <&key_physical_attrs 100 100  720  120       0     0     0>
            , <&key_physical_attrs 100 100  840  120       0     0     0>

            , <&key_physical_attrs 100 100 1100  120       0     0     0>
            , <&key_physical_attrs 100 100 1220  120       0     0     0>
            , <&key_physical_attrs 100 100 1340  120       0     0     0>
            , <&key_physical_attrs 100 100 1460  120       0     0     0>
            , <&key_physical_attrs 100 100 1580  120       0     0     0>
            , <&key_physical_attrs 100 100 1700  120       0     0     0>
            , <&key_physical_attrs 100 100 1820  120       0     0     0>
            , <&key_physical_attrs 100 100 1940  120       0     0     0>


            , <&key_physical_attrs 160 100    0  240       0     0     0>
            , <&key_physical_attrs 100 100  180  240       0     0     0>
            , <&key_physical_attrs 100 100  300  240       0     0     0>
            , <&key_physical_attrs 100 100  420  240       0     0     0>
            , <&key_physical_attrs 100 100  540  240       0     0     0>
            , <&key_physical_attrs 100 100  660  240       0     0     0>
            , <&key_physical_attrs 100 100  780  240       0     0     0>
            , <&key_physical_attrs 100 100  900  240       0     0     0>

            , <&key_physical_attrs 100 100 1020  240       0     0     0>
            , <&key_physical_attrs 100 100 1160  240       0     0     0>
            , <&key_physical_attrs 100 100 1280  240       0     0     0>
            , <&key_physical_attrs 100 100 1400  240       0     0     0>
            , <&key_physical_attrs 100 100 1520  240       0     0     0>
            , <&key_physical_attrs 100 100 1640  240       0     0     0>
            , <&key_physical_attrs 100 100 1760  240       0     0     0>
            , <&key_physical_attrs 160 100 1880  240       0     0     0>


            , <&key_physical_attrs 220 100    0  360       0     0     0>
            , <&key_physical_attrs 100 100  240  360       0     0     0>
            , <&key_physical_attrs 100 100  360  360       0     0     0>
            , <&key_physical_attrs 100 100  480  360       0     0     0>
            , <&key_physical_attrs 100 100  600  360       0     0     0>
            , <&key_physical_attrs 100 100  720  360       0     0     0>
            , <&key_physical_attrs 100 100  840  360       0     0     0>

            , <&key_physical_attrs 100 100 1100  360       0     0     0>
            , <&key_physical_attrs 100 100 1220  360       0     0     0>
            , <&key_physical_attrs 100 100 1340  360       0     0     0>
            , <&key_physical_attrs 100 100 1460  360       0     0     0>
            , <&key_physical_attrs 100 100 1580  360       0     0     0>
            , <&key_physical_attrs 100 100 1700  360       0     0     0>
            , <&key_physical_attrs 220 100 1820  360       0     0     0>


            , <&key_physical_attrs 280 100    0  480       0     0     0>
            , <&key_physical_attrs 100 100  300  480       0     0     0>
            , <&key_physical_attrs 100 100  420  480       0     0     0>
            , <&key_physical_attrs 100 100  540  480       0     0     0>
            , <&key_physical_attrs 100 100  660  480       0     0     0>
            , <&key_physical_attrs 100 100  780  480       0     0     0>
            , <&key_physical_attrs 100 100  900  480       0     0     0>

            , <&key_physical_attrs 100 100 1040  480       0     0     0>
            , <&key_physical_attrs 100 100 1160  480       0     0     0>
            , <&key_physical_attrs 100 100 1280  480       0     0     0>
            , <&key_physical_attrs 100 100 1400  480       0     0     0>
            , <&key_physical_attrs 100 100 1520  480       0     0     0>
            , <&key_physical_attrs 100 100 1640  480       0     0     0>
            , <&key_physical_attrs 280 100 1760  480       0     0     0>


            , <&key_physical_attrs 220 100    0  600       0     0     0>
            , <&key_physical_attrs 160 100  240  600       0     0     0>
            , <&key_physical_attrs 100 100  420  600       0     0     0>
            , <&key_physical_attrs 340 100  540  600       0     0     0>

            , <&key_physical_attrs 220 100 1160  600       0     0     0>
            , <&key_physical_attrs 160 100 1400  600       0     0     0>
            , <&key_physical_attrs 100 100 1580  600       0     0     0>
            , <&key_physical_attrs 340 100 1700  600       0     0     0>
            ;
    };
};
