#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap0: keymap0 {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            display-name = "Base";
            bindings = <
    &kp ESC    &kp F1       &kp F2       &kp F3       &kp F4       &kp F5       &kp F6       &kp F7             &kp F8        &kp F9        &kp F10       &kp F11       &kp F12       &kp F13       &kp F14       &mo 1
    &kp GRAVE  &kp NUMBER_1 &kp NUMBER_2 &kp NUMBER_3 &kp NUMBER_4 &kp NUMBER_5 &kp NUMBER_6 &studio_unlock     &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &kp MINUS     &kp PLUS      &kp BACKSPACE &kp BACKSPACE
    &kp C_MUTE &kp TAB      &kp Q        &kp W        &kp E        &kp R        &kp T        &kp Y              &kp Y         &kp U         &kp I         &kp O         &kp P         &kp LBKT      &kp RBKT      &kp DELETE
               &kp CAPSLOCK &kp A        &kp S        &kp D        &kp F        &kp G        &kp H              &kp H         &kp J         &kp K         &kp L         &kp SEMICOLON &kp SQT       &kp ENTER
               &kp LSHIFT   &kp Z        &kp X        &kp C        &kp V        &kp B        &kp N              &kp N         &kp N         &kp M         &kp COMMA     &kp PERIOD    &kp SLASH     &kp RSHIFT
                                                      &kp C_MUTE   &kp C_VOL_UP &kp C_VOL_DN &kp SPACE          &kp SPACE     &kp RIGHT_ALT &kp K_APP     &kp RCTRL
            >;
        };

        extra1 {
            status = "reserved";
        };

        extra2 {
            status = "reserved";
        };

        extra3 {
            status = "reserved";
        };

        extra4 {
            status = "reserved";
        };

        extra5 {
            status = "reserved";
        };

        extra6 {
            status = "reserved";
        };

        extra7 {
            status = "reserved";
        };
    };
};
