#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap0: keymap0 {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            display-name = "Base";
            bindings = <
    &kp ESC   &kp F1       &kp F2       &kp F3       &kp F4       &kp F5       &kp F6       &kp F7             &kp F6        &kp           &kp           &kp           &kp           &kp           &kp           &kp
    &kp GRAVE &kp NUMBER_1 &kp NUMBER_2 &kp NUMBER_3 &kp NUMBER_4 &kp NUMBER_5 &kp NUMBER_6 &studio_unlock     &kp           &kp           &kp           &kp           &kp           &kp           &kp           &kp
    &kp       &kp TAB      &kp Q        &kp W        &kp E        &kp R        &kp T        &kp Y              &kp           &kp           &kp           &kp           &kp           &kp           &kp           &kp
              &kp CAPSLOCK &kp A        &kp S        &kp D        &kp F        &kp G        &kp H              &kp           &kp           &kp           &kp           &kp           &kp           &kp
              &kp LSHIFT   &kp Z        &kp X        &kp C        &kp V        &kp B        &kp N              &kp           &kp           &kp           &kp           &kp           &kp           &kp
                                                     &kp LCTRL    &kp lEFT_WIN &kp LEFT_ALT &kp SPACE          &kp           &kp           &kp           &kp 
            >;
        };

        extra1 {
            status = "reserved";
        };

        extra2 {
            status = "reserved";
        };

        extra3 {
            status = "reserved";
        };

        extra4 {
            status = "reserved";
        };

        extra5 {
            status = "reserved";
        };

        extra6 {
            status = "reserved";
        };

        extra7 {
            status = "reserved";
        };
    };
};
